<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:lingbao="http://www.sundy.com/schema/lingbao"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.sundy.com/schema/lingbao
       http://www.ctrip.com/schema/apollo.xsd">
    <lingbao:config appId="123456789" registerServerHost=http://192.168.119.159:8089/>
</beans>
